#city-name{
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px 30px;
    background: pink;
    text-align: center;
}

body{
    background: rgb(189, 209, 218);
    display: flex;
    justify-content: center;
}
#search-button, #location {
    border: 1px solid black;
    border-radius: 25px;
    padding: 15px 30px;
    background:pink;

    
    
}
#search-button:hover, #location:hover{
    background: rgb(179, 220, 236);
    border:  black;
    color: black;
    cursor: pointer;
}
#sec{
    border: 2px solid pink;
    max-width: 600px;
    padding: 20px;
    box-shadow: inset;
    border-radius: 30px;
    background: skyblue;
}

.block1 {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.heading{
    text-align: center;
}


@media only screen and (max-width: 768px) {
    #sec{
        max-width: 300px;
    }

    .block1 {
        flex-direction: column;
    }

    .block2 h1, .block2 h2{
        font-size: 20px;
    }
}